body{
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: Font;
	font-size: 200px;
	width: 960px;
	margin: 60px auto;
	text-align: center;
	top: 500px;	
}

@font-face{
	font-family: "Font";
	src: url('Font.ttf') format('embedded-opentype'),
	url('Font.ttf') format('opentype');
}